<h3>Edit your Tweet</h3>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <textarea name="content" placeholder="Write Your Tweet Here"></textarea><br>
  <input type="submit" value="Post">
</form>
