<% if logged_in? %>
  <h2>you're logged in</h2>
<% else %>
  <h3>Sign Up</h3>
  <form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign Up">
  </form>
<% end  %>
