<!-- # <% if !logged_in? %> -->
  <h3>Login</h3>

    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login" id="submit">
    </form>
<!-- # <%else%>
#     <h2> youre logged in </h2>
# <%end %> -->
