<% if current_user %>
  <h3> Welcome <%= @user.username %>!</h3>

  <h4>Your Tweets:</h4>
  <ul>
    <% @user.tweets.each do |t| %>
      <li><%= t.content %></li>
    <% end %>
  </ul>

  <a href="/tweets/new">Create a new tweet</a><br>

  <a href="/logout">Log Out</a>
<% else %>
  <% redirect :'/login' %>
<%end%>
